<article
  class="prose lg:prose-xl mx-auto py-4 text-gray-300 [&>h1]:text-white [&>h2]:text-white [&>h3]:text-white"
>
<h1 class="text-2xl font-bold mb-2">
  ¿Porque se dice que el cuerpo rechazo de material? Factores asociados al fallo en la osteosíntesis de fracturas </h1> 

<h3 class="text-xl mb-4"> Cuando hablamos de osteosíntesis nos referimos una técnica quirúrgica que consiste en estabilizar y unir los fragmentos óseos tras una fractura o un implante. A menudo pacientes comentan: “Mi cuerpo rechazo el material” Ya que notan como se puede apreciar una anomalía, lo que puede ser causado por una placa o tornillo aflojado, esto hace que sobresalga en la piel y moleste. 

Sin embargo, existen múltiples razones por la cual puede existir un fallo en la osteosíntesis, pero en la gran mayoría de casos, tu cuerpo no ha rechazado el material, sino que existió una fatiga del material que  con  micro o macro movimientos empezó aflojarse y soltarse. 

El material cuando se coloca se busca que este con una estabilidad considerablemente alta y con buen agarre, factores como los cuidados postoperatorios, peso y las fuerza, con las que pasan a través del material antes del tiempo estipulado puede generar estrés sobre el material que con micro o macro movimientos empezó a aflojarse y soltarse  

A esto lo conocemos como fenómeno de des anclaje cuando existe una protrusión del tonillo o placa o bien fatiga del implante. </h3> 

<h2 class="text-xl mb-2 font-semibold"> Causas principales </h2> 

<h3 class="text-xl mb-4"> Mala reducción de la fractura  

Falta de cuidados postoperatorios  

Inadecuada colocación del torillo, placa o implante 

Alergia o infección  

Como ortopedista traumatólogo hago hincapié en acudir con expertos y confiar en sus indicaciones, así como seguirlas al pie de la letra para evitar complicaciones. </h3> 

 

 

 

 

 

 

<h2 class="text-xl mb-2 font-semibold"> ¿Como se lleva a cabo una extracción de material de osteosíntesis? </h2> 

<h3 class="text-xl mb-4"> Por infección: Ocurre como resultado de la contaminación durante o después de la intervención quirúrgica, por alteraciones de cicatrización, o por hematomas infectados.Durante este abordaje se administrará tratamiento antibiótico intravenoso y será necesario realizar una profilaxis antibiótica previo a la intervención donde se extraerá el tejido infectado, de manera breve para evitar aumentar las tasas de infección, ya en la fase postoperatoria se volverá a desinfectar la piel alrededor de la zona de incisión, evitando la acumulación de líquidos en la herida por medio de un sistema de drenaje y se le administra tratamiento antibiótico.  

 

Alergia: Debido a materiales con los que están hechos los tornillos, placas e implantes usualmente predominan materiales como: níquel, cobalto y cromo que pueden producir dermatitis alérgica de contacto. 

 

Fatiga: La intervención se realiza a través de la incisión previa se retira el componente desgastando o aflojado y se sustituye por otro nuevo. Durante el recambio protésico puede ser necesaria la utilización de un injerto óseo o un material especializado para rellenar las zonas de osteólisis. 

La única forma en la que se puede denominar que tu cuerpo rechazo el material es cuando existe una reacción alérgica. Aspectos ajenos se les considera como infección, fatiga/desgaste o un fallo de consolidación mejor conocida como pseudoartrosis. 

Es importante acudir a las citas de seguimiento con tu ortopedista, compartir tus dudas y comentar cualquier inquietud o cambio que percibas para evitar inconvenientes que puedan afectar tu recuperación. 

Si te interesa agendar para una cita de valoración, puedes escribirme para agendar. </h3> 
</article>
