---
import Blog1 from "../blogs/blog1.astro";
import Blog2 from "../blogs/blog2.astro";
import Blog3 from "../blogs/blog3.astro";
import Blog4 from "../blogs/blog4.astro";
import Blog5 from "../blogs/blog5.astro";
import Blog6 from "../blogs/blog6.astro";
import Blog7 from "../blogs/blog7.astro";
import Blog8 from "../blogs/blog8.astro";
import Blog9 from "../blogs/blog9.astro";
import Blog10 from "../blogs/blog10.astro";
import Blog11 from "../blogs/blog11.astro";
import Blog12 from "../blogs/blog12.astro";
import Blog13 from "../blogs/blog13.astro";
import Menu2 from "./Menu2";

const { content } = Astro.props;
---

<main class="mb-8 md:w-[85%] px-4 md:px-0 md:mx-auto">
  <div>
    {content === "Blog1" ? <Blog1 /> : null}
    {content === "Blog2" ? <Blog2 /> : null}
    {content === "Blog3" ? <Blog3 /> : null}
    {content === "Blog4" ? <Blog4 /> : null}
    {content === "Blog5" ? <Blog5 /> : null}
    {content === "Blog6" ? <Blog6 /> : null}
    {content === "Blog7" ? <Blog7 /> : null}
    {content === "Blog8" ? <Blog8 /> : null}
    {content === "Blog9" ? <Blog9 /> : null}
    {content === "Blog10" ? <Blog10 /> : null}
    {content === "Blog11" ? <Blog11 /> : null}
    {content === "Blog12" ? <Blog12 /> : null}
    {content === "Blog13" ? <Blog13 /> : null}
    <Menu2 client:load />
  </div>
</main>
