---
import Blog1 from "../blogs/blog1.astro";
import Blog2 from "../blogs/blog2.astro";
import Blog3 from "../blogs/blog3.astro";
const { content } = Astro.props;
---

<main class="lg:w-[77%] mx-auto text-white lg:py-8 px-8 lg:px-0 mb-8">
  <div>
    {content === "Blog1" ? <Blog1 /> : null}
    {content === "Blog2" ? <Blog2 /> : null}
    {content === "Blog3" ? <Blog3 /> : null}
  </div>
</main>
