---
const currentYear = new Date().getFullYear();
---

<hr />
<footer class="text-center p-4">
  <p>&copy; {currentYear} Doctor Monge. Todos los derechos reservados.</p>
  <nav>
    <ul class="list-none p-0 mt-2 flex justify-center gap-4">
      <li>
        <a href="/privacy-policy" class="text-blue-500 hover:underline"
          >Política de Privacidad</a
        >
      </li>
      <li>
        <a href="/terms-of-service" class="text-blue-500 hover:underline"
          >Términos de Servicio</a
        >
      </li>
      <li>
        <a href="/contact" class="text-blue-500 hover:underline">Contacto</a>
      </li>
    </ul>
  </nav>
</footer>
