<nav
  class="flex justify-start items-center fixed px-4 sm:px-8 md:px-14 py-4 sm:py-8 z-10"
>
  <div class="flex justify-start">
    <a href="/">
      <img
        src="/El doctor Ricardo Monge es  ortopedista especialista en rodilla cadera y espalda.png"
        alt="El doctor Ricardo Monge es especialista en ortopedia y traumatología especializado en lesiones musculo esqueléticas  de rodilla, cadera y espalda"
      />
    </a>
  </div>
</nav>
