<main class="flex justify-center items-center py-24 md:py-24 md:h-screen">
  <div class="text-start">
    <h1 class="font-medium text-[42px] mb-16 px-8">
      Conoce más sobre Ortopedia y Traumatología
    </h1>
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
      <div class="relative group">
        <img
          src="/Cuando tienes una lesion que no mejora acude con el Dr Monge experto en lesiones musculoesqueleticas.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Abril 2024
        </p>
        <p
          class="text-hover-blue font-bold absolute inset-0 flex items-start px-4 py-16 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Artroplastia de la cadera con prótesis total
        </p>
        <p
          class="absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Hola, en este blog profundizaremos en una de las cirugías más
          realizadas en el campo de la medicina, te explico en que consiste está
          técnica mínimamente invasiva y que puedes esperar previo durante y
          después, da click para comenzar
        </p>
        <div class="items-center gap-2">
          <p
            class="text-hover-blue absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            <a
              href="/blogs/Artroplastia de la cadera con protesis total"
              rel="noopener noreferrer"
            >
              Leer tema
            </a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icono-svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
      <div class="relative group">
        <img
          src="/Todo lo que debes saber sobre una de las lesiones mas comunes en ortopedia.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Mayo 2024
        </p>
        <p
          class="text-hover-blue absolute inset-0 flex items-start px-4 py-16 font-bold justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Hernia de disco lumbar
        </p>
        <p
          class="absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          ¿Sabías que El síndrome clínico de radiculopatía por hernia en disco
          lumbar es de las mayores causas de incapacidad a nivel mundial? Me
          gustaría hablar sobre la intervención quirúrgica donde se realizará
          una descompresión de la raíz nerviosa afectada, da click para iniciar
          el video
        </p>
        <div class="items-center gap-2">
          <p
            class="text-hover-blue absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            <a href="/blogs/Hernia de disco lumbar" rel="noopener noreferrer">
              Leer tema
            </a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icono-svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
      <div class="relative group">
        <img
          src="/Si sufres de dolor en hueso o articulaciones a acude con tu medico ortopedista para una valoracion.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="fecha-texto absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Junio 2024
        </p>
        <p
          class="text-hover-blue absolute inset-0 flex items-start px-4 py-16 font-bold justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Artroplastia rodilla con prótesis total
        </p>
        <p
          class="text-hover-white absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Los resultados de esta cirugía tienen mayores tasas de éxito, con
          resultados muy satisfactorios, sin embargo, es normal sentirte con
          angustia previo a este procedimiento, hoy te explico brevemente todo
          lo que debes saber ¿Comenzamos?
        </p>
        <div class="items-center gap-2">
          <p
            class="text-hover-blue absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            <a
              href="/blogs/Artroplastia rodilla con protesis total"
              rel="noopener noreferrer"
            >
              Leer tema
            </a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icono-svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  .relative.group {
    position: relative;
    border-radius: 1px;
    max-width: 400px;
    overflow: hidden;
    background: linear-gradient(white, white), linear-gradient(white, white),
      linear-gradient(to right, #ffffff 0%, #ffffff 100%),
      linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-size:
      0% 2px,
      /* Inicialmente, los bordes horizontales no se muestran */ 2px 0%,
      /* Inicialmente, los bordes verticales no se muestran */ 0% 2px,
      2px 0%;
    background-position: top, right, bottom, left; /* Posición de los bordes */
    -webkit-background-clip: padding-box, border-box, padding-box, border-box;
    background-clip: padding-box, border-box, padding-box, border-box;
    transition: background-size 0.5s ease-in-out;
  }

  .relative.group:hover {
    background-size:
      100% 2px,
      /* Al pasar el ratón, los bordes horizontales se completan */ 2px 100%,
      /* Al pasar el ratón, los bordes verticales se completan */ 100% 2px,
      2px 100%;
  }

  .relative.group:hover img {
    opacity: 0%; /* Aplica la opacidad directamente a las imágenes */
    background-color: black;
  }

  .text-hover-blue {
    color: #005692;
  }

  .icono-svg:hover {
    fill: #4a90e2; /* Cambia el color de relleno al hacer hover */
  }
</style>
