<main class="flex justify-center items-center py-24 md:py-24 md:h-screen">
  <div class="text-start">
    <h1 class="font-medium text-[42px] mb-16">Más información</h1>
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
      <div class="relative group">
        <img
          src="/CARD 1.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Mayo 2024
        </p>
        <p
          class="absolute inset-0 flex items-start px-4 py-24 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Tema para blog Op 1
        </p>
        <p
          class="absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          fugiat aut ipsum voluptatem dicta animi obcaecati ad maxime itaque
          consequuntur soluta, voluptatibus dignissimos autem qui.
        </p>
        <div class="items-center gap-2">
          <p
            class="absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            Leer tema <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-narrow-right"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
      <div class="relative group">
        <img
          src="/CARD 2.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Mayo 2024
        </p>
        <p
          class="absolute inset-0 flex items-start px-4 py-24 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Tema para blog Op 2
        </p>
        <p
          class="absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          fugiat aut ipsum voluptatem dicta animi obcaecati ad maxime itaque
          consequuntur soluta, voluptatibus dignissimos autem qui.
        </p>
        <div class="items-center gap-2">
          <p
            class="absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            Leer tema <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-narrow-right"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
      <div class="relative group">
        <img
          src="/CARD 3.png"
          alt=""
          class="transition-opacity duration-200 group-hover:opacity-50"
        />
        <p
          class="absolute inset-0 flex items-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Mayo 2024
        </p>
        <p
          class="absolute inset-0 flex items-start px-4 py-24 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Tema para blog Op 3
        </p>
        <p
          class="absolute inset-0 flex items-center text-start p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
          fugiat aut ipsum voluptatem dicta animi obcaecati ad maxime itaque
          consequuntur soluta, voluptatibus dignissimos autem qui.
        </p>
        <div class="items-center gap-2">
          <p
            class="absolute inset-0 flex items-end p-4 justify-start opacity-0 group-hover:opacity-100 transition-opacity duration-200"
          >
            Leer tema <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-narrow-right"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M5 12l14 0"></path>
              <path d="M15 16l4 -4"></path>
              <path d="M15 8l4 4"></path>
            </svg>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }

  .relative.group {
    --angle: 0deg;
    border: 1px solid transparent;
    border-radius: 1px;
    max-width: 400px;
    border-image: conic-gradient(from var(--angle), #2563eb, #17171b) 1;
  }

  .relative.group:hover {
    animation: rotate-gradient 3s infinite linear;
  }

  @keyframes rotate-gradient {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
</style>
