---
import Facebook from "../components/icons/Facebook.astro";
import Tiktok from "../components/icons/Tiktok.astro";
import Instagram from "../components/icons/Instagram.astro";
import Doctorialia from "../components/icons/Doctoralia.astro";
import Hamburger from "./icons/Hamburger.astro";
---

<nav
  class="flex justify-between items-center fixed w-full px-4 sm:px-8 md:px-14 py-4 sm:py-8 z-10"
>
  <div class="flex justify-start">
    <a href="/">
      <img
        src="/El doctor Ricardo Monge es  ortopedista especialista en rodilla cadera y espalda.png"
        alt="El doctor Ricardo Monge es especialista en ortopedia y traumatología especializado en lesiones musculo esqueléticas  de rodilla, cadera y espalda"
      />
    </a>
  </div>
  <div class="flex justify-end">
    <button id="hamburger" class="focus:outline-none">
      <Hamburger />
    </button>
  </div>
</nav>

<aside
  id="sidebar"
  class="fixed transform translate-x-full transition-transform duration-200 ease-in-out right-0 w-72 h-full text-white bg-[#161616] border-gray-600 border overflow-auto z-20"
>
  <div class="flex justify-between p-4">
    <button id="close" class="focus:outline-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <ul class="flex flex-col space-y-8 py-16 p-4 hover:*:text-blue-500 font-bold">
    <a href="#section1">INICIO</a>
    <a href="#section2">HABILIDADES</a>
    <a href="#section3">CASOS DE EXITO</a>
    <a href="#section4">EDUCACION</a>
    <a href="#section5">TESTIMONIALES</a>
    <a href="#section6">SOCIOS</a>
    <a href="#section7">BLOG</a>
    <a href="#section8">CONTACTO</a>
  </ul>
  <div class="flex justify-start px-4 gap-4 mt-8">
    <a
      href="https://www.facebook.com/drmonge.ortho/?locale=ms_MY"
      target="_blank"
    >
      <Facebook class="cursor-pointer" />
    </a>
    <a href="https://www.tiktok.com/@elmongedelaortopedia" target="_blank">
      <Tiktok class="cursor-pointer" />
    </a>
    <a href="https://www.instagram.com/drmonge.ortho/?hl=es" target="_blank">
      <Instagram class="cursor-pointer" />
    </a>
    <a
      href="https://www.doctoralia.com.mx/ricardo-luis-monge-romero/ortopedista-traumatologo/tijuana"
      target="_blank"
    >
      <Doctorialia class="cursor-pointer" />
    </a>
  </div>
  <footer class="flex flex-col p-4 absolute bottom-0">
    <h1 class="text-[15px]">© Doctor Monge. 2024</h1>
    <h1 class="text-[15px]">Todos los derechos reservados</h1>
  </footer>
</aside>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLButtonElement;
  const sidebar = document.getElementById("sidebar") as HTMLDivElement;
  const close = document.getElementById("close") as HTMLButtonElement;
  const links = document.querySelectorAll(
    "aside a"
  ) as NodeListOf<HTMLAnchorElement>;

  function highlightCurrentSectionLink() {
    const sections = Array.from(
      document.querySelectorAll('section[id^="section"]')
    );

    // Eliminar la clase 'text-red-500' de todos los enlaces
    links.forEach((link) => {
      link.classList.remove("text-blue-500");
    });

    // Encontrar la sección más cercana al top de la ventana
    let closestSection = sections[0];
    let closestDistance = Math.abs(sections[0].getBoundingClientRect().top);

    sections.forEach((section) => {
      const distance = Math.abs(section.getBoundingClientRect().top);
      if (distance < closestDistance) {
        closestDistance = distance;
        closestSection = section;
      }
    });

    // Agregar la clase 'text-red-500' solo al enlace de la sección más cercana
    const link = document.querySelector(
      `aside a[href="#${closestSection.id}"]`
    );
    link?.classList.add("text-blue-500");
  }

  hamburger.addEventListener("click", function () {
    sidebar?.classList.toggle("translate-x-full");

    highlightCurrentSectionLink();
  });

  close.addEventListener("click", function () {
    sidebar?.classList.add("translate-x-full");
  });

  links.forEach((link) => {
    link.addEventListener("click", function (event) {
      event.preventDefault();
      const currentTarget = event.currentTarget as HTMLElement;
      if (currentTarget) {
        const targetId = currentTarget.getAttribute("href");
        if (targetId) {
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            targetElement.scrollIntoView({ behavior: "smooth" });
          }
          sidebar?.classList.add("translate-x-full");
        }
      }
    });
  });
</script>
