---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description: string;
  keywords: string;
}

import "@fontsource-variable/inter";

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ML4B63MEC1"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-ML4B63MEC1");
    </script>
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-56JJJJZZ");
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11309383024"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-11309383024");
    </script>

    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://mongeortopedia.com/preview.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href="https://mongeortopedia.com/" />
    <meta name="author" content="Doctor Monge" />
    <meta name="publisher" content="Ecommetrica" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mongeortopedia.com/" />
    <meta
      property="og:title"
      content="Dr. Ricardo Monge especialista en traumatología en Tijuana"
    />
    <meta
      property="og:description"
      content="Recibe la atención en ortopedia con el Dr. Ricardo Monge especializado en lesiones musculoesqueléticas en rodillas, cadera y columna en Tijuana."
    />
    <meta
      property="og:image"
      content="https://mongeortopedia.com/preview.png"
    />
    <ViewTransitions />
    <!-- Meta Pixel Code -->

    <script type="text/partytown">
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };

        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";

        n.queue = [];
        t = b.createElement(e);
        t.async = !0;

        t.src = v;
        s = b.getElementsByTagName(e)[0];

        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",

        "https://connect.facebook.net/en_US/fbevents.js"
      );

      fbq("init", "487515010536352");

      fbq("track", "PageView");
    </script>
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-56JJJJZZ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=487515010536352&ev=PageView&noscript=1"
      /></noscript
    >
    <Navbar />
    <slot />
    <style is:global>
      html {
        background-color: #161616;
      }
      body {
        font-family: "Inter Variable", sans-serif;
      }
    </style>
  </body>
</html>
