---
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
  description: string;
  keywords: string;
}

import "@fontsource-variable/inter";

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href="http://mongeortopedia.com/" />
    <meta name="author" content="Doctor Monge" />
    <meta name="publisher" content="Ecommetrica" />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style is:global>
  html {
    background-color: #161616;
  }
  body {
    font-family: "Inter Variable", sans-serif;
  }
</style>
